/****************** Header *********************/

#barreNavigation{
    position: static;
    background-color: #795A99;
    height: 80px;
    margin-top: -10px;
    margin-left: -10px;
    width: 102%;
    box-shadow: 0 3px 10px #aaa;
}

.textNav{
    color: white;
    text-decoration: none;
}

.textNav:hover{
    color: blue;
    text-decoration: none;
}

#barNav{
    position: static;
    height: 80px;
    width: 100%;
    border-spacing : 0;
}

.barreMenu{
    text-align: center;
    width: 20%;
}

#boutonMenu{
    border: none;
    cursor: pointer;
    background-color: rgba(192, 180, 203, 0.7);
    height: 90px;
    width: 150px;
    float: left;
}

#boutonMenu:hover{
    background-color: rgba(192, 180, 203, 0.85);
}

#barreRecherche{
    height: 34px;
    width: 250px;
    border-radius: 5px;
    border: none;
}

#navMenu{
    display: none;
    margin-top: -2px;
    background-color: rgb(121, 90, 153);
    width: 140px;
    height: 175px;
    padding-left: 10px;
    box-shadow: 1px 1px 12px #555;
}

.navMenu{
    color: white;
    cursor: pointer;
    border-bottom: solid 1px;
    border-color: rgb(87, 65, 110);
    text-align: center;
    width: 125px;
}

.navMenu:hover{
    background-color: rgb(192, 180, 203);
}

#logoHome{
    height: 70px;
    width: auto;
    color: white;
}